<div class="row">
  <div class="col-xs-12">
    <img src="" alt="" class="img-responsive">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>{{recipe.name}}</h1>
  </div>
</div>

<div class="row">
  <div class="btn-group" appDropdown>
    <button class="btn btn-primary dropdown-toggle"> مدیریت دستورات<span class="caret"></span></button>
    <ul class="dropdown-menu" >
      <li><a href="#">اضافه</a></li>
      <li><a href="#">ویرایش</a></li>
      <li><a href="#">حذف</a></li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">{{recipe.description}}</div>
</div>
<div class="row">
  <div class="col-xs-12">مواد غذایی</div>
</div>
